@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.colored-block.color-1 {
  background-color: #F8D7DA;
}
.colored-block.color-2 {
  background-color: #BBC1FF;
}

.colored-block.color-3 {
  background-color: #B2F6C2;
}

.colored-block.color-4 {
  background-color: #FFEBA9;
}

.colored-block.color-5 {
  background-color: #6FAAFF;
}

.colored-block.color-6 {
  background-color: #29a89c;
}
.colored-block.color-7 {
  background-color: #FF86FC;
}

.colored-block.color-8 {
  background-color: #FFB390;
}

.colored-block.color-9 {
  background-color: #FF689B;
}

.colored-block{
  font-size: 11px;
  font-family:'Roboto Slab'
}
